.action-button {
    margin-bottom: .5rem;
    display: flex;
    align-items: center;
    width: calc(100% - 2rem);
    padding: .3rem;
    background-color: $white;
    border: 2px solid $dark;
    border-radius: 5px;
    cursor: pointer;


    &__label{
        color: $dark;
    }

    &__angle{
        width: calc(100% - 2rem);
        border: 2px solid $dark;
        margin-bottom: .5rem;
         border-radius: 5px;
         padding: .3rem;
    }

    &__img {
        margin-right: .5rem;
    }

    &__text {
        margin: 0;
    }

    &:hover {
        background-color: $focus;
    }

    &--active {
        background-color: $warning;
    }
}